@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #E3E4E9;
  --background-start-rgb: #E5E9ED;
  --background-end-rgb: #F1F1F1;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
